In [29]:
import cx_Oracle
import numpy as np
import pandas as pd

In [30]:
#!pip install xlrd
#df = pd.read_excel(r"D:\\BSP_Project\\Operator_guidence_Model_sigma\\BSP_OGS\\HMT_Training.xls")

In [31]:
connectingString = 'BSPBF8/bspbf8@10.120.49.25:1521/SILCALpdb'
conn=cx_Oracle.connect(connectingString)
cursor = conn.cursor()
cursor.execute('select * from T_HMT_MODEL_INPUT')
row=cursor.fetchall()
#conn.close()
print('connected....')
#cursor.close()

connected....

In [32]:
columns = [col[0] for col in cursor.description]

In [33]:
df=pd.DataFrame(row,columns=columns)

In [34]:
df.shape

(16324, 39)

In [35]:
df.head()

,TEMP_SNO,T_STAMP,HEARTH_INNER_TEMP_A,HEARTH_OUTER_TEMP_A,HEARTH_DEL_TEMP_A,HEARTH_INNER_TEMP_B,HEARTH_OUTER_TEMP_B,HEARTH_DEL_TEMP_B,HEARTH_INNER_TEMP_C,HEARTH_OUTER_TEMP_C,...,HEARTH_INNER_TEMP_K,HEARTH_OUTER_TEMP_K,HEARTH_DEL_TEMP_K,HEARTH_INNER_TEMP_L,HEARTH_OUTER_TEMP_L,HEARTH_DEL_TEMP_L,HEARTH_INNER_TEMP_P,HEARTH_OUTER_TEMP_P,HEARTH_DEL_TEMP_P,HMTEMP
0,127,2023-06-14 13:00:00,152.40,97.83,54.57,262.17,187.76,74.40,414.89,331.99,...,0.0,64.97,0.0,87.58,64.19,23.39,0.0,57.34,0.0,1440.77
1,132,2023-06-14 13:50:00,152.33,97.86,54.47,262.06,187.64,74.42,414.83,331.74,...,0.0,66.08,0.0,87.52,64.16,23.36,0.0,59.33,0.0,1460.30
2,134,2023-06-14 14:10:00,152.47,97.90,54.57,262.09,187.57,74.52,414.86,331.90,...,0.0,65.68,0.0,87.57,64.33,23.23,0.0,59.62,0.0,1462.90
3,138,2023-06-14 14:50:00,152.59,98.03,54.56,262.25,187.66,74.59,415.01,339.83,...,0.0,65.44,0.0,87.68,64.35,23.33,0.0,59.75,0.0,1448.78
4,139,2023-06-14 15:00:00,152.58,98.07,54.51,262.28,187.71,74.57,415.06,340.95,...,0.0,65.09,0.0,87.72,64.36,23.35,0.0,59.72,0.0,1441.69

In [36]:
df.drop(['TEMP_SNO'],axis=1,inplace=True)

In [37]:
df.head()

,T_STAMP,HEARTH_INNER_TEMP_A,HEARTH_OUTER_TEMP_A,HEARTH_DEL_TEMP_A,HEARTH_INNER_TEMP_B,HEARTH_OUTER_TEMP_B,HEARTH_DEL_TEMP_B,HEARTH_INNER_TEMP_C,HEARTH_OUTER_TEMP_C,HEARTH_DEL_TEMP_C,...,HEARTH_INNER_TEMP_K,HEARTH_OUTER_TEMP_K,HEARTH_DEL_TEMP_K,HEARTH_INNER_TEMP_L,HEARTH_OUTER_TEMP_L,HEARTH_DEL_TEMP_L,HEARTH_INNER_TEMP_P,HEARTH_OUTER_TEMP_P,HEARTH_DEL_TEMP_P,HMTEMP
0,2023-06-14 13:00:00,152.40,97.83,54.57,262.17,187.76,74.40,414.89,331.99,82.90,...,0.0,64.97,0.0,87.58,64.19,23.39,0.0,57.34,0.0,1440.77
1,2023-06-14 13:50:00,152.33,97.86,54.47,262.06,187.64,74.42,414.83,331.74,83.08,...,0.0,66.08,0.0,87.52,64.16,23.36,0.0,59.33,0.0,1460.30
2,2023-06-14 14:10:00,152.47,97.90,54.57,262.09,187.57,74.52,414.86,331.90,82.96,...,0.0,65.68,0.0,87.57,64.33,23.23,0.0,59.62,0.0,1462.90
3,2023-06-14 14:50:00,152.59,98.03,54.56,262.25,187.66,74.59,415.01,339.83,75.18,...,0.0,65.44,0.0,87.68,64.35,23.33,0.0,59.75,0.0,1448.78
4,2023-06-14 15:00:00,152.58,98.07,54.51,262.28,187.71,74.57,415.06,340.95,74.11,...,0.0,65.09,0.0,87.72,64.36,23.35,0.0,59.72,0.0,1441.69

In [38]:
connectingString = 'BSPBF8/bspbf8@10.120.49.25:1521/SILCALpdb'
conn1=cx_Oracle.connect(connectingString)
cursor1 = conn1.cursor()
cursor1.execute('select T_STAMP,HOT_METAL_TEMP from T_MISC_INDEX_STG2')
row1=cursor1.fetchall()

In [39]:
columns1 = [col[0] for col in cursor1.description]

In [40]:
dff=pd.DataFrame(row1,columns=columns1)

In [41]:
dff.head()

              T_STAMP  HOT_METAL_TEMP
0 2023-06-13 16:00:00         1459.31
1 2023-06-13 16:10:00         1459.31
2 2023-06-13 16:20:00         1459.31
3 2023-06-13 16:30:00         1459.31
4 2023-06-13 16:40:00         1459.31

In [42]:
dff.shape

(19324, 2)

In [43]:
conn.close()
conn1.close()

In [84]:
# Merge DataFrames based on closest timestamp within 9 minutes
merged_df = pd.merge_asof(dff.sort_values('T_STAMP'), df.sort_values('T_STAMP'), on='T_STAMP', tolerance=pd.Timedelta(minutes=9))

In [85]:
merged_df.sample(10)

,T_STAMP,HOT_METAL_TEMP,HEARTH_INNER_TEMP_A,HEARTH_OUTER_TEMP_A,HEARTH_DEL_TEMP_A,HEARTH_INNER_TEMP_B,HEARTH_OUTER_TEMP_B,HEARTH_DEL_TEMP_B,HEARTH_INNER_TEMP_C,HEARTH_OUTER_TEMP_C,...,HEARTH_INNER_TEMP_K,HEARTH_OUTER_TEMP_K,HEARTH_DEL_TEMP_K,HEARTH_INNER_TEMP_L,HEARTH_OUTER_TEMP_L,HEARTH_DEL_TEMP_L,HEARTH_INNER_TEMP_P,HEARTH_OUTER_TEMP_P,HEARTH_DEL_TEMP_P,HMTEMP
8876,2023-08-14 07:20:00,1459.31,142.67,93.35,49.32,245.05,177.91,67.14,390.68,313.33,...,0.0,63.54,0.0,87.22,63.20,24.03,0.0,47.83,0.0,1455.42
10798,2023-08-27 15:40:00,1459.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6095,2023-07-25 23:50:00,1459.31,143.88,94.00,49.89,246.69,178.29,68.40,392.30,313.99,...,0.0,63.65,0.0,88.22,64.62,23.60,0.0,49.20,0.0,1465.52
9845,2023-08-21 00:50:00,1459.31,142.66,93.49,49.18,243.87,176.78,67.09,388.21,311.25,...,0.0,64.79,0.0,87.65,63.62,24.03,0.0,78.99,0.0,1458.48
16203,2024-03-10 23:30:31,1501.00,135.38,102.61,32.77,237.02,174.21,62.81,397.92,282.25,...,0.0,55.22,0.0,83.70,68.81,14.88,0.0,102.11,0.0,1460.80
18865,2024-03-30 00:30:26,1506.00,152.95,113.37,39.58,265.76,190.88,74.88,442.41,302.56,...,0.0,59.23,0.0,87.88,78.28,9.60,0.0,46.48,0.0,1455.51
15034,2024-03-03 00:40:45,1501.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16264,2024-03-11 09:20:32,1501.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2336,2023-06-29 21:20:00,1459.31,146.50,94.19,52.32,253.51,181.79,71.72,402.64,321.15,...,0.0,62.66,0.0,86.15,62.86,23.29,0.0,42.28,0.0,1460.54
15218,2024-03-04 07:30:47,1515.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
merged_df.isnull().sum()

T_STAMP                   0
HOT_METAL_TEMP            0
HEARTH_INNER_TEMP_A    7332
HEARTH_OUTER_TEMP_A    7332
HEARTH_DEL_TEMP_A      7332
HEARTH_INNER_TEMP_B    7332
HEARTH_OUTER_TEMP_B    7332
HEARTH_DEL_TEMP_B      7332
HEARTH_INNER_TEMP_C    7332
HEARTH_OUTER_TEMP_C    7332
HEARTH_DEL_TEMP_C      7332
HEARTH_INNER_TEMP_D    7332
HEARTH_OUTER_TEMP_D    7332
HEARTH_DEL_TEMP_D      7332
HEARTH_INNER_TEMP_E    7332
HEARTH_OUTER_TEMP_E    7332
HEARTH_DEL_TEMP_E      7332
HEARTH_INNER_TEMP_F    7332
HEARTH_OUTER_TEMP_F    7332
HEARTH_DEL_TEMP_F      7332
HEARTH_INNER_TEMP_G    7332
HEARTH_OUTER_TEMP_G    7332
HEARTH_DEL_TEMP_G      7332
HEARTH_INNER_TEMP_H    7332
HEARTH_OUTER_TEMP_H    7332
HEARTH_DEL_TEMP_H      7332
HEARTH_INNER_TEMP_J    7332
HEARTH_OUTER_TEMP_J    7332
HEARTH_DEL_TEMP_J      7332
HEARTH_INNER_TEMP_K    7332
HEARTH_OUTER_TEMP_K    7332
HEARTH_DEL_TEMP_K      7332
HEARTH_INNER_TEMP_L    7332
HEARTH_OUTER_TEMP_L    7332
HEARTH_DEL_TEMP_L      7332
HEARTH_INNER_TEMP_P    7332
HEARTH_OUTER_TEMP_P    7332
HEARTH_DEL_TEMP_P      7332
HMTEMP                 7332
dtype: int64

In [87]:
dff2=merged_df.dropna()

In [88]:
dff2.head()

,T_STAMP,HOT_METAL_TEMP,HEARTH_INNER_TEMP_A,HEARTH_OUTER_TEMP_A,HEARTH_DEL_TEMP_A,HEARTH_INNER_TEMP_B,HEARTH_OUTER_TEMP_B,HEARTH_DEL_TEMP_B,HEARTH_INNER_TEMP_C,HEARTH_OUTER_TEMP_C,...,HEARTH_INNER_TEMP_K,HEARTH_OUTER_TEMP_K,HEARTH_DEL_TEMP_K,HEARTH_INNER_TEMP_L,HEARTH_OUTER_TEMP_L,HEARTH_DEL_TEMP_L,HEARTH_INNER_TEMP_P,HEARTH_OUTER_TEMP_P,HEARTH_DEL_TEMP_P,HMTEMP
0,2023-06-13 16:00:00,1459.31,152.82,98.09,54.73,262.64,187.88,74.76,415.92,332.56,...,0.0,65.39,0.0,87.32,64.03,23.29,0.0,74.68,0.0,1455.83
1,2023-06-13 16:10:00,1459.31,152.82,98.05,54.77,262.62,187.92,74.70,415.94,332.59,...,0.0,65.34,0.0,87.28,64.02,23.25,0.0,75.50,0.0,1449.89
2,2023-06-13 16:20:00,1459.31,152.82,98.05,54.77,262.61,187.91,74.70,415.92,332.54,...,0.0,65.27,0.0,87.29,64.01,23.28,0.0,76.00,0.0,1457.47
3,2023-06-13 16:30:00,1459.31,152.82,98.05,54.77,262.61,187.90,74.71,415.90,332.51,...,0.0,65.15,0.0,87.28,64.00,23.28,0.0,76.31,0.0,1452.33
4,2023-06-13 16:40:00,1459.31,152.86,98.06,54.81,262.63,187.89,74.73,415.91,332.49,...,0.0,65.13,0.0,87.31,64.06,23.25,0.0,76.58,0.0,1469.70

In [89]:
dff2.shape

(11992, 39)

In [90]:
# Sort DataFrame by 'T_STAMP' column in ascending order
dff2 = dff2.sort_values('T_STAMP')

In [91]:
# Add a serial number column 'TEMP_SNO' starting from 1
dff2['TEMP_SNO'] = range(1, len(dff2) + 1)

In [92]:

# Reset index to ensure the index reflects the new order after sorting
dff2.reset_index(drop=True, inplace=True)

In [93]:
dff2.sample(7)

,T_STAMP,HOT_METAL_TEMP,HEARTH_INNER_TEMP_A,HEARTH_OUTER_TEMP_A,HEARTH_DEL_TEMP_A,HEARTH_INNER_TEMP_B,HEARTH_OUTER_TEMP_B,HEARTH_DEL_TEMP_B,HEARTH_INNER_TEMP_C,HEARTH_OUTER_TEMP_C,...,HEARTH_OUTER_TEMP_K,HEARTH_DEL_TEMP_K,HEARTH_INNER_TEMP_L,HEARTH_OUTER_TEMP_L,HEARTH_DEL_TEMP_L,HEARTH_INNER_TEMP_P,HEARTH_OUTER_TEMP_P,HEARTH_DEL_TEMP_P,HMTEMP,TEMP_SNO
1918,2023-06-26 23:40:00,1459.31,147.75,94.91,52.84,255.20,183.12,72.08,404.48,323.38,...,63.14,0.0,86.70,63.63,23.08,0.0,46.01,0.0,1442.44,1919
1506,2023-06-24 03:00:00,1459.31,149.16,95.94,53.22,256.48,183.89,72.60,406.40,326.91,...,64.45,0.0,87.35,64.16,23.19,0.0,46.02,0.0,1454.44,1507
4743,2023-07-16 14:30:00,1459.31,144.78,94.17,50.61,248.73,179.54,69.19,395.09,317.48,...,63.09,0.0,87.64,64.17,23.47,0.0,93.49,0.0,1458.95,4744
1096,2023-06-21 06:40:00,1459.31,149.55,95.92,53.62,257.94,184.65,73.29,408.66,328.74,...,64.30,0.0,86.69,63.65,23.04,0.0,64.41,0.0,1452.66,1097
3392,2023-07-07 05:20:00,1459.31,146.13,94.67,51.46,251.41,181.20,70.21,399.24,319.17,...,64.42,0.0,87.50,63.88,23.62,0.0,43.79,0.0,1462.47,3393
5087,2023-07-18 23:50:00,1459.31,143.82,93.22,50.60,247.91,178.78,69.14,394.07,316.48,...,62.05,0.0,86.71,63.42,23.29,0.0,47.24,0.0,1453.16,5088
9029,2023-08-15 08:50:00,1459.31,142.20,92.81,49.40,244.80,177.57,67.23,390.47,313.03,...,63.22,0.0,86.65,62.62,24.03,0.0,44.96,0.0,1467.18,9030

In [94]:
dff2.keys()

Index(['T_STAMP', 'HOT_METAL_TEMP', 'HEARTH_INNER_TEMP_A',
       'HEARTH_OUTER_TEMP_A', 'HEARTH_DEL_TEMP_A', 'HEARTH_INNER_TEMP_B',
       'HEARTH_OUTER_TEMP_B', 'HEARTH_DEL_TEMP_B', 'HEARTH_INNER_TEMP_C',
       'HEARTH_OUTER_TEMP_C', 'HEARTH_DEL_TEMP_C', 'HEARTH_INNER_TEMP_D',
       'HEARTH_OUTER_TEMP_D', 'HEARTH_DEL_TEMP_D', 'HEARTH_INNER_TEMP_E',
       'HEARTH_OUTER_TEMP_E', 'HEARTH_DEL_TEMP_E', 'HEARTH_INNER_TEMP_F',
       'HEARTH_OUTER_TEMP_F', 'HEARTH_DEL_TEMP_F', 'HEARTH_INNER_TEMP_G',
       'HEARTH_OUTER_TEMP_G', 'HEARTH_DEL_TEMP_G', 'HEARTH_INNER_TEMP_H',
       'HEARTH_OUTER_TEMP_H', 'HEARTH_DEL_TEMP_H', 'HEARTH_INNER_TEMP_J',
       'HEARTH_OUTER_TEMP_J', 'HEARTH_DEL_TEMP_J', 'HEARTH_INNER_TEMP_K',
       'HEARTH_OUTER_TEMP_K', 'HEARTH_DEL_TEMP_K', 'HEARTH_INNER_TEMP_L',
       'HEARTH_OUTER_TEMP_L', 'HEARTH_DEL_TEMP_L', 'HEARTH_INNER_TEMP_P',
       'HEARTH_OUTER_TEMP_P', 'HEARTH_DEL_TEMP_P', 'HMTEMP', 'TEMP_SNO'],
      dtype='object')

In [95]:
dff2.isnull().sum().sum()

0

In [96]:
# Sort DataFrame by 'T_STAMP' column in ascending order
dff2 = dff2.sort_values('T_STAMP')
# Select the first unique number and its respective row
first_unique_row = dff2.drop_duplicates(subset=['HOT_METAL_TEMP'])

In [97]:
# Convert it into another DataFrame
new_df = pd.DataFrame(first_unique_row)

In [98]:
new_df.shape

(58, 40)

In [99]:
new_df.head()

,T_STAMP,HOT_METAL_TEMP,HEARTH_INNER_TEMP_A,HEARTH_OUTER_TEMP_A,HEARTH_DEL_TEMP_A,HEARTH_INNER_TEMP_B,HEARTH_OUTER_TEMP_B,HEARTH_DEL_TEMP_B,HEARTH_INNER_TEMP_C,HEARTH_OUTER_TEMP_C,...,HEARTH_OUTER_TEMP_K,HEARTH_DEL_TEMP_K,HEARTH_INNER_TEMP_L,HEARTH_OUTER_TEMP_L,HEARTH_DEL_TEMP_L,HEARTH_INNER_TEMP_P,HEARTH_OUTER_TEMP_P,HEARTH_DEL_TEMP_P,HMTEMP,TEMP_SNO
0,2023-06-13 16:00:00,1459.31,152.82,98.09,54.73,262.64,187.88,74.76,415.92,332.56,...,65.39,0.0,87.32,64.03,23.29,0.0,74.68,0.0,1455.83,1
9954,2024-03-05 13:10:50,1503.00,137.93,102.62,35.30,244.09,176.89,67.20,404.98,286.18,...,55.07,0.0,81.79,68.18,13.61,0.0,51.30,0.0,1463.26,9955
9962,2024-03-05 14:30:50,1512.60,138.14,102.71,35.43,244.06,176.92,67.14,404.55,285.83,...,55.59,0.0,82.21,68.57,13.64,0.0,52.11,0.0,1441.57,9963
9963,2024-03-05 14:40:50,1515.00,138.18,102.78,35.40,244.08,176.90,67.19,404.56,285.89,...,55.38,0.0,82.35,68.68,13.67,0.0,49.54,0.0,1462.55,9964
9978,2024-03-05 17:10:50,1503.80,138.43,102.82,35.61,244.07,176.88,67.19,403.81,285.31,...,55.27,0.0,82.45,68.62,13.82,0.0,45.53,0.0,1467.82,9979

In [104]:
# updating a serial number column 'TEMP_SNO' starting from 1
new_df['TEMP_SNO'] = range(1, len(new_df) + 1)

In [105]:
new_df.sample(6)

,T_STAMP,HOT_METAL_TEMP,HEARTH_INNER_TEMP_A,HEARTH_OUTER_TEMP_A,HEARTH_DEL_TEMP_A,HEARTH_INNER_TEMP_B,HEARTH_OUTER_TEMP_B,HEARTH_DEL_TEMP_B,HEARTH_INNER_TEMP_C,HEARTH_OUTER_TEMP_C,...,HEARTH_OUTER_TEMP_K,HEARTH_DEL_TEMP_K,HEARTH_INNER_TEMP_L,HEARTH_OUTER_TEMP_L,HEARTH_DEL_TEMP_L,HEARTH_INNER_TEMP_P,HEARTH_OUTER_TEMP_P,HEARTH_DEL_TEMP_P,HMTEMP,TEMP_SNO
11016,2024-03-15 03:00:53,1499.29,143.19,107.80,35.39,250.36,184.61,65.75,427.41,302.18,...,54.24,0.0,84.15,69.55,14.60,0.0,103.31,0.0,1461.75,46
10024,2024-03-06 02:40:51,1506.00,136.79,101.31,35.48,242.94,175.38,67.55,401.01,283.39,...,53.70,0.0,80.05,66.32,13.73,0.0,41.74,0.0,1441.50,10
10488,2024-03-09 11:10:29,1310.75,132.66,98.18,34.48,234.18,169.36,64.82,389.01,275.16,...,50.21,0.0,79.43,65.66,13.77,0.0,79.43,0.0,1441.83,30
10302,2024-03-08 02:20:54,1512.13,1076.94,794.20,282.73,1899.99,1367.55,532.44,3122.32,2198.64,...,441.80,0.0,641.69,529.57,112.12,0.0,292.07,0.0,1453.74,24
10820,2024-03-13 12:00:50,1504.18,140.58,106.69,33.89,246.12,180.97,65.14,414.58,293.08,...,56.77,0.0,84.77,69.86,14.91,0.0,48.18,0.0,1441.62,42
10059,2024-03-06 08:40:51,1506.70,136.34,100.64,35.70,241.91,174.34,67.57,398.96,281.80,...,54.28,0.0,80.06,66.48,13.58,0.0,36.91,0.0,1450.27,13

In [101]:
conn3=cx_Oracle.connect(connectingString)
cursor3 = conn3.cursor()
print('connecting...')
for index, row in new_df.iterrows():
    # Convert T_STAMP to Oracle DATE type
    time = row['T_STAMP'].to_pydatetime()
    # Insert data into the T_ALARM_EVENT_MONITOR
    cursor3.execute("""INSERT INTO T_HMT_MODEL_TRAINING
                        (TEMP_SNO,T_STAMP, HEARTH_INNER_TEMP_A, HEARTH_OUTER_TEMP_A, HEARTH_DEL_TEMP_A, HEARTH_INNER_TEMP_B, HEARTH_OUTER_TEMP_B,
                        HEARTH_DEL_TEMP_B, HEARTH_INNER_TEMP_C, HEARTH_OUTER_TEMP_C, HEARTH_DEL_TEMP_C, HEARTH_INNER_TEMP_D, HEARTH_OUTER_TEMP_D,
                        HEARTH_DEL_TEMP_D, HEARTH_INNER_TEMP_E, HEARTH_OUTER_TEMP_E, HEARTH_DEL_TEMP_E,
                        HEARTH_INNER_TEMP_F, HEARTH_OUTER_TEMP_F, HEARTH_DEL_TEMP_F, HEARTH_INNER_TEMP_G,
                        HEARTH_OUTER_TEMP_G, HEARTH_DEL_TEMP_G, HEARTH_INNER_TEMP_H, HEARTH_OUTER_TEMP_H,
                        HEARTH_DEL_TEMP_H, HEARTH_INNER_TEMP_J, HEARTH_OUTER_TEMP_J, HEARTH_DEL_TEMP_J,
                        HEARTH_INNER_TEMP_K, HEARTH_OUTER_TEMP_K, HEARTH_DEL_TEMP_K, HEARTH_INNER_TEMP_L,
                        HEARTH_OUTER_TEMP_L, HEARTH_DEL_TEMP_L, HEARTH_INNER_TEMP_P, HEARTH_OUTER_TEMP_P,
                        HEARTH_DEL_TEMP_P, HMTEMP)
                        VALUES (:1, :2, :3, :4, :5, :6, :7, :8, :9, :10,
                        :11, :12, :13, :14, :15, :16, :17, :18, :19,
                        :20, :21, :22, :23, :24, :25, :26, :27, :28,
                        :29, :30, :31, :32, :33, :34, :35, :36, :37, :38, :39)
                    """, (row['TEMP_SNO'],time, row['HEARTH_INNER_TEMP_A'], row['HEARTH_OUTER_TEMP_A'], row['HEARTH_DEL_TEMP_A'],
                          row['HEARTH_INNER_TEMP_B'], row['HEARTH_OUTER_TEMP_B'], row['HEARTH_DEL_TEMP_B'], row['HEARTH_INNER_TEMP_C'],
                          row['HEARTH_OUTER_TEMP_C'], row['HEARTH_DEL_TEMP_C'], row['HEARTH_INNER_TEMP_D'], row['HEARTH_OUTER_TEMP_D'],
                          row['HEARTH_DEL_TEMP_D'], row['HEARTH_INNER_TEMP_E'], row['HEARTH_OUTER_TEMP_E'], row['HEARTH_DEL_TEMP_E'],
                          row['HEARTH_INNER_TEMP_F'], row['HEARTH_OUTER_TEMP_F'], row['HEARTH_DEL_TEMP_F'], row['HEARTH_INNER_TEMP_G'],
                          row['HEARTH_OUTER_TEMP_G'], row['HEARTH_DEL_TEMP_G'], row['HEARTH_INNER_TEMP_H'], row['HEARTH_OUTER_TEMP_H'],
                          row['HEARTH_DEL_TEMP_H'], row['HEARTH_INNER_TEMP_J'], row['HEARTH_OUTER_TEMP_J'], row['HEARTH_DEL_TEMP_J'],
                          row['HEARTH_INNER_TEMP_K'], row['HEARTH_OUTER_TEMP_K'], row['HEARTH_DEL_TEMP_K'], row['HEARTH_INNER_TEMP_L'],
                          row['HEARTH_OUTER_TEMP_L'], row['HEARTH_DEL_TEMP_L'], row['HEARTH_INNER_TEMP_P'], row['HEARTH_OUTER_TEMP_P'],
                          row['HEARTH_DEL_TEMP_P'], row['HOT_METAL_TEMP']))
# Commit the transaction
conn3.commit()

connecting...